{% extends 'base.html.twig' %}

{% block head %}
<li><a href="{{ path('specialiste_page') }}" class="nav-link">Nouveau</a></li> 
<li><a href="{{ path('specialisteListe') }}" class="nav-link">Liste specialiste</a></li> 
{% endblock %}
{% block body %}
<table id="example2" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Age</th>
                    <th>Job</th>
				</tr>
			</thead>
			<tbody>
			{% for s in specialisteListe %}
				<tr>
					<td>{{ s.specialisteName }}</td>
					<td>{{ s.specialisteAge }}</td>
					<td> {{ s.job }} </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
{% endblock %}